 .cdwrap{width: 800px; margin: 0 auto;min-height:600px;}
.page-heading {
	font-size: 30px/32px;
	margin-top:80px;
	color: gray;
text-transform: uppercase;
}

a.transition-link{
	color: #29abe2;
	text-decoration: none;
}
a.forgot-password{color:gray;margin-top:10px;}
a.forgot-password:hover{text-decoration:underline;}

.header-subtext {
	font-weight:normal;
	color:gray;
	font-size: 18px ;
	margin: 5px 0 30px 0;
}

.pull-left {
	width: 300px;
	float: left;
	margin-right:50px;
}

.form-item {
	position: relative;
	margin-bottom: 10px;
}
.form-item label{font-weight:normal;}
.form-item .form-label {
	
	position: absolute;
	width: 73px;
	font: 12px ProximaNova, Arial, sans-serif;
	color: #4d4d4d;
	text-transform: uppercase;
	padding: 12px;
	z-index: 1;
	cursor: pointer;
}

.form-item .dn{padding:6px 12px;}

.form-item .form-input {
	height: 40px;
	line-height: 36px\9;
	padding-left: 90px;
	border: 1px solid #b3b3b3;
	font: 19px ProximaNova, Arial, sans-serif;
	color: gray;
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-appearance: none;
}
button{border:0px;}
.sbtn-primary {
	margin-top:20px;
	text-transform: uppercase;
	width: 100%;
	color: white;
	display: inline-block;
	padding: 9px 25px 9px;
	background: #29abe2;
	font: 19px ProximaNovaSemiBold, Arial, sans-serif;
	letter-spacing: .05em;
}
.sbtn-primary:hover{background: #34bbea;}

.checkbox{float:left;margin-top: 2px;color:gray;}
.pull-right {
	float: right;
}

.forgot-password {
	font: 12px ProximaNova, Arial, sans-serif;
	color: #b3b3b3;
	text-transform: uppercase;
	margin-top: 2px;
}
.descriptiona{
width:300px;
	margin-left:30px;

font-family: ProximaNova,Arial,sans-serif;
font-size: 13px;
line-height: 20px;
color: gray;
}
.descriptiona h2{font-size:18px;margin-top:0px;}

.mfooter li {
	float: left;
	margin-left: 10px;
}


/** fix **/
.ul-share li,.h4-p-footer{float:left;} 